<!-- 로그인 상태에서의 첫화면  -->

<div class="container-fluid main_overview">
    <section class="my_player_section">
      <div class="over_view_title">
        <p>MY PLAYERS</p>
      </div>  
      <div class="my_card">
        <div class="card card1">
          <div class="card-body">
            <h5 class="card-title">강우재</h5>
            <p class="card-text">펀딩 시작일 : 2018.8.17</p>
            <p class="card-text">실시간 낙찰 평균가 : ₩110,000</p>
            <a href="#" class="btn btn-outline-light btn-lg">자세히 보기</a>
          </div>
        </div>
        <div class="card card2">
          <div class="card-body">
            <h5 class="card-title">안찬형</h5>
            <p class="card-text">펀딩 시작일 : 2018.8.17</p>
            <p class="card-text">실시간 낙찰 평균가 : ₩110,000</p>
            <a href="#" class="btn btn-outline-light btn-lg">자세히 보기</a>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <h5 class="card-title">류길헌</h5>
            <p class="card-text">펀딩 시작일 : 2018.8.17</p>
            <p class="card-text">실시간 낙찰 평균가 : ₩110,000</p>
            <a href="#" class="btn btn-outline-light btn-lg">자세히 보기</a>
          </div>
        </div>
      </div>    
    </section>
    <div class="divider"></div>
    <section class="my_coin_section">
        내 코인 현황 불러오기 (용일용일용일용일용일용일용일용일용일용일용일용일)
    </section>
    <section class="new_player_overview_section">
        <div class="new_player_box">
          <div class="overlap">
            <img src="../else1.jpg" class="new_player_img">
          </div>
        </div>
        <div class="new_player_box">
          <div class="overlap">
            <img src="../else1.jpg" class="new_player_img">
          </div>
        </div>
        <div class="new_player_box">
          <div class="overlap">
            <img src="../else1.jpg" class="new_player_img">
          </div>
        </div>
        <div class="new_player_box">
          <div class="overlap">
            <img src="../else1.jpg" class="new_player_img">
          </div>
        </div>
        <div class="new_player_box">
          <div class="overlap">
            <img src="../else1.jpg" class="new_player_img">
          </div>
        </div>
        <div class="new_player_box">
          <div class="overlap">
            <img src="../else1.jpg" class="new_player_img">
          </div>
        </div>
    </section>
    <section class="news_section">
        <div class="football_hot">
            asdf
        </div>
        <div class="underdog_hot">
            asdf
        </div>
    </section>
</div>