<!-- 로그인 상태에서의 첫화면  -->

<div class="container-fluid main_overview">
    <section class="my_player_section">
      <div class="over_view_title">
        <p>MY PLAYERS</p>
      </div>  
      <div class="my_card">
        <div class="card card1">
          <div class="card-body">
            <h5 class="card-title">강우재</h5>
            <p class="card-text">펀딩 시작일 : 2018.8.17</p>
            <p class="card-text">실시간 낙찰 평균가 : ₩110,000</p>
            <a href="#" class="btn btn-outline-light btn-lg">자세히 보기</a>
          </div>
        </div>
        <div class="card card2">
          <div class="card-body">
            <h5 class="card-title">안찬형</h5>
            <p class="card-text">펀딩 시작일 : 2018.8.17</p>
            <p class="card-text">실시간 낙찰 평균가 : ₩110,000</p>
            <a href="#" class="btn btn-outline-light btn-lg">자세히 보기</a>
          </div>
        </div>
        <div class="card card3">
          <div class="card-body">
            <h5 class="card-title">류길헌</h5>
            <p class="card-text">펀딩 시작일 : 2018.8.17</p>
            <p class="card-text">실시간 낙찰 평균가 : ₩110,000</p>
            <a href="#" class="btn btn-outline-light btn-lg">자세히 보기</a>
          </div>
        </div>
      </div>    
    </section>
    <div class="divider"></div>
    <section class="my_coin_section">
        <div class="coin_info">
          <p class="coin_comment">내가 보유한 코인</p>
          <p class="coin_amount">
            
          
            ₩<%=current_user.budget%></p>
        </div>
        <a href="/home/mypage" class="go_charge">충전하러가기</a>
    </section>
    <div class="divider"></div>
    <section class="new_player_overview_section">
      <div class="over_view_title">
        <p>NEW PLAYERS</p>
      </div>
      <div class="new_players">
        <div class="new_player_box box1">
          <a href="#" class="overlap">
            <p>권용일</p>
            <p>32코인 남음</p>
          </a>
        </div>
        <div class="new_player_box box2">
          <a href="#" class="overlap">
            <p>권용일</p>
            <p>32코인 남음</p>
          </a>
        </div>
        <div class="new_player_box box3">
          <a href="#" class="overlap">
            <p>권용일</p>
            <p>32코인 남음</p>
          </a>
        </div>
        <div class="new_player_box box4">
          <a href="#" class="overlap">
            <p>권용일</p>
            <p>32코인 남음</p>
          </a>
        </div>
        <div class="new_player_box box5">
          <a href="#" class="overlap">
            <p>권용일</p>
            <p>32코인 남음</p>
          </a>
        </div>
        <div class="new_player_box box6">
          <a href="#" class="overlap">
            <p>권용일</p>
            <p>32코인 남음</p>
          </a>
        </div>
      </div>
    </section>
    <div class="divider"></div>
    <section class="news_section">
        <div class="football_hot">
          <div class="over_view_title">
            <p>UNDERDOG HOT NEWS</p>
          </div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
                <th scope="col">조회수</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>[추계고등연맹전] 4강 이끈 골잡이 ‘득점왕’ 불꽃 경쟁 [축구저널]</td>
                <td>박정표</td>
                <td>1233</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>[추계고교축구]천안제일고-제천제일고, 준결승 진출[스포츠서울]</td>
                <td>박정표</td>
                <td>1122</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>밤마다 킥 훈련…‘골 넣는 수비수’ 배재고 김승환 [축구저널]</td>
                <td>박정표</td>
                <td>443</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>[추계고등연맹전] 창단 첫승 FC인천 “자신감 챙겼다” [축구저널]</td>
                <td>박정표</td>
                <td>112</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>컬링 ‘팀 킴’ 보며 ‘원팀’으로 거듭난 매탄고 [축구저널]</td>
                <td>박정표</td>
                <td>50</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>제천제일고 제갈재민 “아버지께 득점왕 선물” [축구저널]</td>
                <td>박정표</td>
                <td>34</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>신평고 김창헌 “득점왕 스트레스 털어냈다” [축구저널]</td>
                <td>박정표</td>
                <td>32</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="underdog_hot">
          <div class="over_view_title">
            <p>K-LEAGUE HOT NEWS</p>
          </div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
                <th scope="col">조회수</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>[종합]난감한 김학범호…아시안게임 조직위, 훈련장 배정 안 해</td>
                <td>이소정</td>
                <td>2234</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>‘첫 골 맛’ 이민아, 이제부터 시작이다!</td>
                <td>이소정</td>
                <td>1677</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>'9G 무패' 울산이 흐름 탈까, '2연패' 서울이 흐름 바꿀까</td>
                <td>이소정</td>
                <td>854</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>[지도자 Note] 오랜만에 4강'성적'보다는 '성장' 논하는 한양대</td>
                <td>이소정</td>
                <td>742</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>외신도 '득점 1위' 황의조 주목, "같은 처지...병역면제 노려"</td>
                <td>이소정</td>
                <td>523</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>“이승우 골, 한국과의 차이 보여줬다” 이란 언론 호평</td>
                <td>이소정</td>
                <td>233</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>태풍에 갇혔던 수원, '11G 무패' 경남에 기회일까</td>
                <td>이소정</td>
                <td>82</td>
              </tr>
            </tbody>
          </table>
      </div>
    </section>
</div>