<!-- 로그인 상태에서의 첫화면  -->

<p style="color: #fff; padding-top: 10rem">
<!--여기 페이지는 선수 목록이 보여지는 페이지가 나오면 됩니다~:)-->
</p>
<h1>여기는 서비스랑 회사소개 등등의 페이지</h1>

<h3>임시네브바</h3>
<ul>
    <li><a href='/players'>선수 목록 보여주는건 player(링크)</a></li>
    <li><a href='/posts'>후원 게시판은 post(링크)</a></li>
    <li><a href='/home/mypage'>마이페이지 mypage(링크)</a></li>
</ul>


<br>
<a href="/users/sign_out" data-method="delete">로그아웃</a>