<h1 style="margin-top: 10rem;">디자인 미완입니다. 양식에 맞춰 올려주세요</h1>

<%= render 'form', player: @player %>

<%= link_to 'Back', players_path %>


<iframe width="560" height="315" src="https://www.youtube.com/embed/TNBOkPCvq0w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>