// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.player_detail_page section {
    height: 100vh;
    background: #1a1a1a;
    color: #fff;
    margin-left: 20%;
    position: relative;
    h3 {
        position: absolute;
        top: 10rem;
        left: 6rem;
    }
}
.player_detail_page .detail_content {
    min-height: 70vh;
    background: #262626;
    margin: 0 6rem;
    position: relative;
    top: 60%;
    transform: translateY(-60%);
}
.player_lnb_wrapper {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #1a1a1a;
    padding-top: 15rem;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.5);
}
.player_profile .player_name {
    margin-top: 1rem;
    font-size: 1.6rem;
    span {
            display: inline-block;
            width: 18px;
            margin: 5px;
        img {
            width: 100%;
        }
    }
    .en_name{
      font-size: 1.4rem;  
      font-weight: lighter;
    }
}
.player_profile_img {
    border-radius: 50%;
    overflow: hidden;
    width: 12rem;
    height: 12rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    img {
        width: 110%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.player_lnb {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: lighter;
    li{
        background: #4a4a4a;
        a{
            transition: all 0.2s ease-in-out;
            color: #fff;
            display: block;
            padding: 2rem 0;
        }
    }
}

.player_video {
    width: 70%;
    float: left;
}
.rwd-video.is-16x9 {
    position: relative;
    padding-bottom: 56.25%;
}
.rwd-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.player_article {
        width: 30%;
        float: right;
        overflow: scroll;
    a {
        display: inline-block;
        width: 100%;
        background-color: #282828;
        border-radius: 2px;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
        height: 100px;
    }
}
.news_img_wrapper {
    width: 8rem;
    height: 8rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 10px;
    float: left;
    img {
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.news_content{
    font-size: 1.6rem;
    margin-top: 15px;
    margin-left: 10px;
    color: #333;
    text-align: left;
}